.grid-container div.header {
    background-image: url("https://picsum.photos/id/112/1300/200");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  
  .grid-container div.sidebar #ad-photo {
    background-image: url("https://picsum.photos/200/200");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
  }
  
  .footer {
   background-color: none;
  }
  .social{
    text-align: center;
  }
  .icon {
    padding: 0 20px;
  }
  
  